/* Soft reset no CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #077d7f;
    font-family: 'Fira Sans', sans-serif;
    background-size: auto 100vh;
    height: 100vh;
}

/* Condicional para a tela menor que 400px */
@media (min-width: 400px) {
    body {
        font-size: 14px;
    }
}

/* Condicional para a tela menor que 600px */
@media (min-width: 600px) {
    body {
        font-size: 18px;
    }
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 900px) {
    header {
        height: 90vh;
    }
}

.menu {
    background-color: grey;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu li {
    list-style: none;
}

.menu a {
    display: block;
    padding: 10px 20px;
    transition: background-color 1s, color 1s;
}

.menu a:active,
.menu a:hover {
    background-color: #131513;
    color: #FBF5E6;
    text-decoration: none ;
}

a {
    color: #101819;
    text-decoration: none;
    
}

a:hover {
    text-decoration: underline;
}

.titulo {
    transform: scale(0.2) translateY(50vh);
    opacity: 0;

    animation: linear 2s animacaoTitulo forwards;
}

@keyframes animacaoTitulo {
    100% {
        transform: scale(1) translateY(0);
        opacity: 1;
    }   
}

.site-subtitle,
.site-title {
    color: whitesmoke;
    text-align: center;
}

.site-title {
    font-size: 4em;
    font-family: 'Fira Code', monospace;
}

.site-subtitle {
    line-height: 1.8em;
    font-style: italic;
    font-family: 'Fira Sans', sans-serif;
}

.contato,
.portifolio {
    color: #101819;
    background-color: #4F797E;
    padding: 2em;
    min-height: 100vh;
}

.contato h2,
.portifolio h2 {
    font-family: 'Fira Sans', sans-serif;
    margin-bottom: 1.5em;
    font-size: 1.62em;
}

.portifolio .grid {
    display: grid;
    gap: 1em;
}

@media (min-width: 560px) {
    .portifolio .grid {
        grid-template-columns: 240px 240px;
    }
}

@media (min-width: 880px) {
    .portifolio .grid {
        grid-template-columns: repeat(3, 260px);
        justify-content: center;
        align-content: center;
        height: calc(100vh - 4em - 48px - 1.5em);
    }
}

.portifolio figure {
    text-align: center;
}

.img-portfolio {
    height: 240px;
    width: 240px;
    object-fit: cover;
    object-position: center;
    border-radius: 30%;
    transition: transform 500ms;
}

.img-portfolio:hover {
    transform: scale(1.2);
}

.contato .icons{
    text-align: center;

}

.contato a {
    color: whitesmoke;
    font-size: 4em;
    transition: text-shadow 500ms;
}

.contato a:active,
.contato a:hover {
    text-decoration: none;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}
