body {
    background: #077d7f;
    font-family: Arial, Helvetica, sans-serif;
    background-size: auto 100vh;
    height: 100vh;
}

.menu {
    background-color: grey;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
    
}

a:hover {
    text-decoration: underline;
}

.site-subtitle,
.site-title {
    color: whitesmoke;
    text-align: center;
}

.site-subtitle {
    font-style: italic;
}