/* Soft reset no CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #077d7f;
    font-family: 'Fira Sans', sans-serif;
    background-size: auto 100vh;
    height: 100vh;
}

/* Condicional para a tela menor que 400px */
@media (min-width: 400px) {
    body {
        font-size: 14px;
    }
}

/* Condicional para a tela menor que 600px */
@media (min-width: 600px) {
    body {
        font-size: 18px;
    }
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 900px) {
    header {
        height: 90vh;
    }
}

.menu {
    background-color: grey;
    position: fixed;
    top: 0;
    width: 100vw;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu li {
    list-style: none;
}

.menu a {
    display: block;
    padding: 10px 20px;
}

a {
    color: #101819;
    text-decoration: none;
    
}

a:hover {
    text-decoration: underline;
}

.site-subtitle,
.site-title {
    color: whitesmoke;
    text-align: center;
}

.site-title {
    font-size: 4em;
    font-family: 'Fira Code', monospace;
}

.site-subtitle {
    line-height: 1.8em;
    font-style: italic;
    font-family: 'Fira Sans', sans-serif;
}

.portifolio {
    color: #101819;
    background-color: #4F797E;
    padding: 2em;
    height: 100vh;
}

.portifolio h2 {
    font-family: 'Fira Sans', sans-serif;
    margin-bottom: 1.5em;
    font-size: 1.62em;
}

.portifolio .grid {
    display: grid;
    gap: 1em;
}

@media (min-width: 560px) {
    .portifolio .grid {
        grid-template-columns: 240px 240px;
    }
}

@media (min-width: 880px) {
    .portifolio .grid {
        grid-template-columns: repeat(3, 260px);
        justify-content: center;
        align-content: center;
        height: calc(100vh - 4em - 48px - 1.5em);
    }
}

.portifolio figure {
    text-align: center;
}

.img-portfolio {
    height: 240px;
    width: 240px;
    object-fit: cover;
    object-position: center;
    border-radius: 30%;
}

/* @media (min-width: 1200px) {
    .img-portfolio {
        height: auto;
        width: 100%;
    }
} */